/* mobile版（width:~>767px） 上書きスタイル */

@media screen and (max-width: 767px) {
    /* Mainエリア */
    #main {
        padding-top: 0px !important;
    }
    /* メイン イメージ */
    #main-visual {
        height: 0px !important;
        background: url(https://public-resource.github.io/giveone/images/main_img.jpg) no-repeat center center !important;
    }
    /* ヘッダーBar */
    #header .pc-block1 {
        background: url(https://public-resource.github.io/giveone/images/header_bar_bg.png) !important;
    }
    /* ヘッダーロゴ */
    #header .pc-block1 .logo img {
        width: 100% !important;
    }
    #header .pc-block1 .logo {
        width: auto !important;
    }
    /* メニューボックスのZレイヤー 最上部に配置 */
    .pc-block2 {
        z-index: 200 !important;
    }
    /* 活動レポート一覧 サムネイル画像非表示*/
    .reportList li .thumb {
        display: none !important;
    }
    /* 活動レポート一覧 リスト幅調整*/
    .reportList li {
        margin: 0 0 0px !important;
    }
    /* 活動レポート一覧 レポート名 表示調整*/
    .reportList li .reportTxt h4 {
        font-size: 18px !important;
    }
    /* 活動レポート一覧 団体名 表示調整*/
    .reportList li .owner {
        font-size: 20px !important;
    }
}