/* mobile版（width:~>767px） 上書きスタイル */

@media screen and (max-width: 767px) {
    /* Mainエリア */
    #main {
        padding-top: 0px !important;
    }
    /* メイン イメージ */
    #main-visual {
        height: 0px !important;
        background: url(https://public-resource.github.io/giveone/images/main_img.jpg) no-repeat center center !important;
    }
    /* ヘッダーBar */
    #header .pc-block1 {
        background: url(https://public-resource.github.io/giveone/images/header_bar_bg.png) !important;
    }
    /* ヘッダーロゴ */
    #header .pc-block1 .logo img {
        width: 100% !important;
    }
    #header .pc-block1 .logo {
        width: auto !important;
    }
    /* メニューボックスのZレイヤー 最上部に配置 */
    .pc-block2 {
        z-index: 200 !important;
    }
    /* 活動レポート一覧 ブロック表示 */
    .reportList {
        display: block !important;
    }
    /* 活動レポート一覧 サムネイル画像非表示*/
    .reportList li .thumb {
        display: none !important;
    }
    /* 活動レポート一覧 リスト幅調整*/
    .reportList li {
        width: 100% !important;
    }
    /* 活動レポート一覧 レポート名 表示調整*/
    .reportList li .reportTxt h4 {
        font-size: 18px !important;
    }
    /* 活動レポート一覧 団体名 表示調整*/
    .reportList li .owner {
        font-size: 20px !important;
    }
    /* フッター FB 表示調整 */
    #footer .block1 .nav-group div.ftrFb {
        width: 100%;
        text-align: center;
        padding: 0px 0 0;
    }
    /* フッター TW 表示調整 */
    #footer .block1 .nav-group div.ftrTw {
        width: 100%;
        text-align: center;
        padding: 30px 0 0;
    }
    /* フッター Fb/TWリンク 表示調整 */
    #footer .block1 .nav-group div a {
        font-size: 20px !important;
        padding-left: 0px !important;
    }
    /* フッダー 運営団体・プライバシーポリシー・反社会的勢力等　*/
    #footer .block2 .link-list {
        display: inline !important;
    }
    #footer .block2 .link-list li {
        font-size: 12pt !important;
        width: 100%;
        text-align: center;
        line-height: 0.6 !important;
        margin-top: 10px !important;
    }
    /* フッター 管理者 表示ブロック位置調整　*/
    .about-admin {
        margin-top: 50px !important;
    }
    /* 団体寄付ページ 団体イメージエリアの高さ調整 */
    #npo .owner-img .img-responsive2 {
        padding: 50px !important;
    }
    #npo .header .npo-data .main-img {
        padding: 0 !important;
        margin-top: -100px !important;
        margin-bottom: -100px !important;
    }
    /* 応援企画新規申請 ラベル行間調整 */
    .beforeApplication ul li label {
        line-height: 30px !important;
    }
    /* チェックボック位置調整 */
    #formWrap input[type="checkbox"] {
        margin-bottom: -3px !important;
    }
    /* 応援企画新規申請 [受付終了日]のフォントサイズ調整 */
    .parallelForm .txt {
        font-size: 12pt !important;
    }
    /* 応援企画新規申請 [無期限にする]のフォントサイズ調整 */
    #formWrap label.checkLabel {
        font-size: 16px !important;
    }
    /* 標準ボタン */
    .btn-style1 {
        height: calc(60 / 750 * 100vw) !important;
    }
    /* 寄付プロジェクト詳細 [寄付する]ボタン */
    .detailStatusMain .statusTxt .fixBtn .btn-style2, .detailStatusMain .statusTxt .fixBtn .btn-style1 {
        height: calc(60 / 750 * 100vw) !important;
        font-size: 3vw !important;
    }
    /* フッター表記 スクロール調整 */
    #footer .block2 {
        margin-bottom: 150px;
    }
    /* ログイン後 メニューパネルのロゴ（非表示） */
    .pc-block2 .logo img {
        display: none !important;
    }
    /* 団体ログインページのGiveOneロゴ 配置 */
    div#prf_admin-logo {
        margin-left: 2%;
        margin-bottom: 10px;
    }
    /* 検索ページ キーワード検索[検索する]ボタンの配置 */
    #prf_search-form input.btn.btn-primary {
        margin-top: 10px;
    }
    /* キュレーションページ: ヘッダー背景（白）　*/
    .prf_special header#header .pc-block1 {
        background: #ffffffff !important;
    }

    /* キュレーションページ: ヘッダー タイトル　*/
    .prf_special header#header .sp-none {
        margin-left: 15px;
        color: #002060;
        font-weight: bold;
    }
    /* キュレーションページ: ログインボタン非表示　*/
    .prf_special header#header div#btnHdrLogin {
        display: none;
    }
    /* キュレーションページ: キュレーターメイン画像　*/
    .prf_special div#main-visual {
        background: #ffffffff !important;
    }
    /* キュレーションページ: キュレーターメイン画像高さ調整　*/
    .prf_special main#main p {
        margin-top: 300px;
    }
}