/* 共通基本上書きStyle */

/* 基本フォント設定 */

body {
    font-family: 'Noto Sans JP', sans-serif !important;
    color: #001121 !important;
}

/* トップページ イメージ下メッセージ: <a>リンク有効化 */

div#kifu-koujyo {
    z-index: 100;
    position: relative;
}

/* ログイン後メニューボタン */

.afterLoginBtn {
    padding: 20px 25px !important;
}

/* フッターブロック（上段）*/

#footer .block1 {
    padding: 15px 0 15px;
    background-color: #002060 !important;
}

/*　フッターリンクリスト */

#footer .link-list li {
    font-weight: 600 !important;
}

/*　フッターリンクリスト [Facebook] */

#footer .block1 .nav-group div.ftrFb {
    font-weight: 600 !important;
}

/*　フッターリンクリスト<a> [Facebook] */

#footer .block1 .nav-group div.ftrFb a {
    background: none !important;
}

/*　フッターリンクリスト [Twitter] */

#footer .block1 .nav-group div.ftrTw {
    font-weight: 600 !important;
}

/*　フッターリンクリスト<a> [Twitter] */

#footer .block1 .nav-group div.ftrTw a {
    color: #fff;
    background: none !important;
    background-size: 30px;
    display: inline-block;
    padding-left: 40px;
    line-height: 26px;
    letter-spacing: 1px;
}

/* フッターブロック（下段）*/

#footer .block2 {
    padding: 20px 0 40px !important;
}

/* フッターブロック（運営者・システム管理者） */

.about-admin {
    text-align: center;
    font-size: 10px !important;
    margin-top: 20px;
    color: #fff;
}

.about-admin a {
    font-weight: 600;
}

div#about-2 {
    margin-top: 10px;
}

/* トップページ「もうすぐ達成」ブロック非表示 */

div#achievementSoon {
    display: none;
}

/* トップページ「締切間近」ブロック非表示 */

div#closingSoon {
    display: none;
}

/* 検索ページ /supporter/project_search.html */

div#supporter label {
    margin-right: 10px;
}

input.project_category_type {
    margin-right: 5px;
}

/* *************
会員ログイン後 
***************** */

/*.about-admin */

#header .loginPanel.afterLogin li:nth-child(2) a, #menu-panel .afterLoginNavi li:nth-child(1) a {
    background: url(https://public-resource.github.io/giveone/images/menu_icon02.png) no-repeat 15px center;
    background-color: #174b87;
    background-size: 20px;
}

#header .loginPanel.afterLogin li:nth-child(3) a, #menu-panel .afterLoginNavi li:nth-child(2) a {
    background: url(https://public-resource.github.io/giveone/images/menu_icon03.png) no-repeat 15px center;
    background-color: #174b87;
    background-size: 20px;
}

#header .loginPanel.afterLogin li:nth-child(4) a, #menu-panel .afterLoginNavi li:nth-child(3) a {
    background: url(https://public-resource.github.io/giveone/images/menu_icon04.png) no-repeat 15px center;
    background-color: #174b87;
    background-size: 20px;
}

#header .loginPanel.afterLogin li:nth-child(5) a, #menu-panel .afterLoginNavi li:nth-child(4) a {
    background: url(https://public-resource.github.io/giveone/images/menu_icon05.png) no-repeat 15px center;
    background-color: #174b87;
    background-size: 20px;
}

#header .loginPanel.afterLogin li:nth-child(6) a, #menu-panel .afterLoginNavi li:nth-child(5) a {
    background: url(https://public-resource.github.io/giveone/images/menu_icon06.png) no-repeat 15px center;
    background-color: #174b87;
    background-size: 20px;
}

#header .loginPanel.afterLogin li:nth-child(7) a, #menu-panel .afterLoginNavi li:nth-child(6) a {
    background: url(https://public-resource.github.io/giveone/images/menu_icon07.png) no-repeat 15px center;
    background-color: #174b87;
    background-size: 20px;
}

#header .loginPanel.afterLogin li:nth-child(8) a, #menu-panel .afterLoginNavi li:nth-child(7) a {
    background: url(https://public-resource.github.io/giveone/images/menu_icon08.png) no-repeat 15px center;
    background-color: #174b87;
    background-size: 20px;
}

#header .loginPanel.afterLogin li:nth-child(9) a, #menu-panel .afterLoginNavi li:nth-child(8) a {
    background: url(https://public-resource.github.io/giveone/images/menu_icon09.png) no-repeat 15px center;
    background-color: #174b87;
    background-size: 20px;
}

#header .loginPanel.afterLogin li:nth-child(10) a, #menu-panel .afterLoginNavi li:nth-child(9) a {
    background: url(https://public-resource.github.io/giveone/images/menu_icon10.png) no-repeat 15px center;
    background-color: #174b87;
    background-size: 20px;
}

/* 検索リスト SDGs icons */

img.prf_sdgs-icon {
    width: 20px;
    margin-right: 10px;
}

img.prf_sdgs-iconL {
    width: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* 寄付ブロジェクト一覧: 検索ボタン */

div#prf_search-link-btn {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* マラソンメニュー非表示 */

li.prf_marathon {
    display: none;
}

/* トップページ 新着寄付プロジェクト一覧　インデックス表示 タイトルと団体名 */

.achievementList li .achievementTxt h4, .slideAchievementList li .achievementTxt h4 {
    font-size: 15px !important;
    line-height: 1.2 !important;
}

.achievementList li .achievementTxt .owner, .slideAchievementList li .achievementTxt .owner {
    font-size: 14px !important;
    line-height: 1 !important;
}

/* トップページ 活動レポート一覧 インデックス表示 タイトルと団体名 */

.reportList li .reportTxt h4 {
    font-size: 14px;
    font-weight: normal;
}

.reportList li .owner {
    font-size: 16px !important;
    font-weight: bold !important;
}

/* トップページ […税制優遇の対象となります…]の位置スタイル調整  */

div#kifu-koujyo a {
    font-style: italic;
}

div#kifu-koujyo {
    font-size: 18px;
    color: #002856;
    margin-left: 10px;
    margin-top: 5px;
}

div#kifu-koujyo:before {
    content: "※";
}

/* フッダー 運営団体（パブリックソース財団）ロゴ画像挿入 */

#about-1 a:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 30px;
    background-image: url(https://public-resource.github.io/giveone/images/logo_prf.png);
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
}

/* フッダー システム管理者（グローシップパートナーズ）ロゴ画像挿入 */

#about-2 a:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 30px;
    background-image: url(https://public-resource.github.io/giveone/images/logo_gsp.png);
    background-size: contain;
    vertical-align: middle;
    margin-right: 10px;
}

/*　キャンペーン詳細ページ <body id="top" class="special"> */

body.special .hdrLogoArea div.hdrLogo img {
    width: 60px !important;
    margin-top: -150px !important;
}

body.special .hdrLogoArea div.hdrLogo {
    margin-top: -75px !important;
}

/* ヘッダー タイトルの位置調整 */

body.special .hdrLogoArea p {
    font-size: 15px !important;
    margin-bottom: -20px !important;
    margin-left: 70px !important;
    color: #ffffff !important;
}

body.special .hdrLogoArea {
    margin-top: -30px !important;
}

body.special .hdrLogoArea .fb-like {
    display: none;
}

body.special#main-visual img {
    width: auto;
    height: 350px;
}

/* コメント一覧 [寄付プロジェクト詳細へ]のリンク位置調整（中央）*/

.main_sp_padding_1 .col-xs-12.right.btn-area {
    text-align: center;
}

/* 団体寄付ページ 団体イメージエリアの高さ調整 */

#npo .header {
    background-color: #ffffff !important;
    margin-top: -30px !important;
    margin-bottom: 0px !important;
}

/* 活動レポート詳細 右下 [団体名称]左横の鉛筆アイコン非表示 */

.report-show .fa.pencil {
    display: none !important;
}

/* 活動レポート詳細 右下 [団体名称]左横のプロジェクト団体名非表示 */

.report-show p.project {
    display: none !important;
}

/* 活動レポート一覧の内容（サマリー）表記を非表示 */

.report-list-body p:nth-of-type(3) {
    display: none !important;
}

/* 活動レポート一覧の内容（サマリー）下 日付表記一の調整 */

.report-list-body p.date {
    margin-top: 0px !important;
}

/* 会員ログイン 下部[団体ログイン] ボタン位置調整*/

.prf_owner-login-btn .btn-style1 {
    width: 150px !important;
    height: 30px !important;
    font-size: 13px !important;
}

.prf_owner-login-btn {
    margin-top: 50px !important;
}

/* 会員新規登録 下部[会員ログイン] ボタン位置調整*/

.prf_owner_to_member_login .btn-style1 {
    width: 150px !important;
    height: 30px !important;
    font-size: 13px !important;
}

.prf_owner_to_member_login {
    margin-top: 50px !important;
}

/* H1/H2 下線タイトルスタイルの変更*/
h1.title-green-border {
    font-size: 20px !important;
}
h2.title-green-border {
    font-size: 20px !important;
}