body {
    font-family:  'Noto Sans JP', sans-serif !important;
    color: #001121 !important;
}

a {
    
    text-decoration: none !important;
}

#pagetop a {
    background: #050AA4 url(/images/arrow_pagetop.png) no-repeat center center !important;
    opacity: 0.6 !important;
}

#pagetop a:hover {
    opacity: 1 !important;
}

#hdrNav li a:hover {
    color: #fec200 !important;
}  

#hdrNav li:nth-child(1),
#hdrNav li:nth-child(2) {
    background: none !important;
    background-size: none !important;
}

#hdrNav li a {
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #fff !important;
}

#footer .block1 {
    background-color: #050AA4 !important;
}

#footer .block2 {
    background-color: #050aa4 !important;
}

.btn-style1 {
    font-weight: 400;
    width: 320px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #217ca3;
    font-size: 16px;
    border: solid 2px #217ca3;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.meter .bar .pointer {
    background: #050aa4 !important;
}
.meter .num {
    color: #050aa4 !important;
}

.rowList li:nth-child(1) .rankNum {
    color: #050aa4 !important;
}

.rowList li:nth-child(1) .rankNum p {
    padding-bottom: 5px !important;
    border-bottom: #050aa4 solid 1px !important;
}

.project-mini-box .meter .num {
    color: #050aa4 !important;
}

.project-mini-box .meter .bar .pointer {
    background: #050aa4 !important;
}

.rowList li:nth-child(2) .rankNum {
    color: #050aa4 !important;
}

.rowList li:nth-child(2) .rankNum p {
    border-bottom: #050aa4 solid 1px !important;
}

.rowList li:nth-child(3) .rankNum {
    color: #050aa4 !important;
}

.rowList li:nth-child(3) .rankNum p {
    border-bottom: #050aa4 solid 1px !important;
}
